table.ec3_schedule {
 border-collapse:collapse;
 margin:0.5ex 1ex 0.5ex 0;
 border:solid 2px #800;
 float:left;
}

table.ec3_schedule td {
 padding:0 0.5ex 0 0.5ex;
 color:#800;
}

td.ec3_start { text-align:right; }

td.ec3_to    { text-align:center; }

.ec3_schedule .past *  { text-decoration:line-through }